<div class="container-fluid container-home">
    <h1 class="home">Welcome <%= current_user.first_name %></h1>
    <%= image_tag current_user.image_url, class: "img-circle img-thumbnail home-image" %>
</div>
<h2>Past Trips</h2>
<table class="table">
  <tr><th></th><th>Starting Point</th><th>Ending Point</th><th>Distance Traveled</th><th>Date Completed</th><th>Pictures</th></tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
</table>

<h2>Future Trips</h2>
<table class="table">
  <tr><th></th><th>Starting Point</th><th>Ending Point</th><th>Distance Traveled</th><th>Departure Date</th><th>Pictures</th></tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
</table>

<div class="col-md-2">
  <div id='logo'>
    <%= image_tag "green_car5.jpg" %>
  </div>
</div>

<!-- <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div> -->
