<br><br><br>
<h2>Past Trips</h2>
<table class="table">
  <tr><th>Starting Point</th><th>Ending Point</th><th>Distance Traveled</th><th>Date Completed</th><th>Pictures</th></tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
</table>

<h2>Future Trips</h2>
<table class="table">
  <tr><th>Starting Point</th><th>Ending Point</th><th>Distance Traveled</th><th>Departure Date</th><th>Pictures</th></tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
</table>
