<div class="row">
  <div class="container routing col-md-2">
    <%= render partial: "routing_info" %>
  </div>
  <div class="col-md-10">
    <%= render partial: "map" %>
  </div>
</div>
<%= render partial: "nav_bar" %>

<!--
data = JSON.parse(json)
data["name"] -->
