body {
  background-color: #ffffff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  // background-image: url('green_car1.jpg');
  // background-repeat: no-repeat;
  // background-position: left bottom;
  // background-size: 230px;
}

.address-search {
  text-align: left;
  padding-top: 30px;
  padding-left: 5px;
}

#map_address1 {
  width: 200px;
  text-align: center
}

#map_address2 {
  width: 200px;
  text-align: center
}

.map {
  left: 20px;
  height: 675px;
}

.nav-head {
  background-color: #ffffff;
  width: 100%;
  color: #40BC40;
  // opacity: 0.4;
}

.nav {
  padding: 10px 15px;
}

.routing {
  border: bold;
  border-style: solid;
  border-radius: 5px;
  border-color: #40BC40;
  padding-bottom: 40px;
  left: 25px;
}

#logo {
  position: absolute;
  padding-left: 25px;
  padding-top: 250px;
}

h2 {
  text-align: center;
}
