body {
  background-color: #ffffff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#map_address {
  width: 210px;
  text-align: center
}

#map_address1 {
  width: 210px;
  text-align: center
}

#map_address2 {
  width: 210px;
  text-align: center
}

.map {
  min-height: 750px;
  width: 100%;
}

.nav-head {
  // background-color: #40BC40;
  opacity: 0.4;
  left: 15px;
}

.header {
  width: 100%;
  // color: #ffffff;
  position: absolute;
  top: 0px;
}

.routing {
  // border: bold;
  // border-style: solid;
  // border-radius: 5px;
  // border-color: #40BC40;
  padding-top: 15px;
  padding-bottom: 15px;
  left: 10px;
  text-align: left;
  position: absolute;
  top: 190px;
}

#logo {
  position: center;
  text-align: center;
  top: 5px;
}

h2 {
  text-align: center;
}

.container-home {
  position: center;
  text-align: center;
}

.trip-tables {
  position: relative;
  top: 100px;
}
